
    



@font-face {
    font-family: BebasNeue;
    src: url(/BebasNeue-Regular.ttf) format("truetype");
}  
@font-face {
    font-family: Barlow;
    src: url(/BarlowCondensed-Thin.ttf) format("truetype");
}



h1, h2, h3, h4, ul {
    font-family:BebasNeue;
}
p {
    font-family: Barlow;
    font-size: 24px;
    color: black;
    font-weight: bolder;
}
ul {
    font-size: 32px;
}

body {
    background-color: rgba(235, 235, 224, 1); 
    color:black;
}
a {
    color: black;

}

.form__input {
    display: block;
}

.logo{
    position: fixed
   
}
a {
    text-decoration:none
    }
    nav{
        position: fixed;
        margin-top: 150px;
     }
   ul {
   
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-direction: column;

    }

    /*Home page*/
.index-img {
    display: flex;
    padding: 100px 350px ;
}
.home-info {
    display: flex;
    position:absolute;
        top: 90%;
        left: 25%;
    
}
.homeinfo {
    display: flex;
    position:absolute;
        top: 94%;
        left: 25%;
    }

/*footer*/
footer {
    padding: 1px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .limited {
    display: flex;
    margin-right: 50px;
    
  }
.socials {
    display: flex;
    width: 200px;
    height: 25px;
    
}

/* Our Selection*/


.ourselection{
    display: flex;
    position:absolute;
        top: 32%;
        left: 21%;
    
}
.topselection{
    display: flex;
    padding: 300px 300px;
    
}
    



/*about us*/
.container-1{
    display: flex;
    padding: 200px 200px;
}
.about-text{
    position:relative;
        bottom: 7%;
        right: 2%;
}

.about-us{
    position: absolute;
        top: 27%;
        left: 40%;
}


/*The Lobtser*/
.container-6{
    display: flex;
    flex-direction: column;
    padding: 200px 200px ;
    }
    .movie-container{
        position:relative;
    
        
    }
    .lobster-content1 {
        position: absolute;
        top: 1%;
        left: 2%;
    }
    .lobster-content2 {
        position: absolute;
        top: 2%;
        left: 12%;
    }
    .lobster-content3 {
        position: absolute;
       
        top: 6%;
        left: 2%;
    }
    .checkout-icon {
        position: absolute;
        bottom: 1%;
        right: 10%;
    }
.container-info {
    
    line-height: 150%;
}
 


/*check out*/

.container-2{
    display: flex;
    padding: 200px 200px ;
}
.box-3{
    flex: 1;
}
.box-3{
    flex: 1;
}
/*contact*/

.container-3{
    display: flex;
    padding: 150px 250px;
}

.contact-text{
    display: flex;
    flex-direction: column;
    position:absolute;
    top: 18%;
        left: 20%;
        line-height: 125%;

}
.container-4{
    display: flex;
    position:relative;
    bottom: 1%;
        left: 30%;
}
  
@media all and (max-width:500px)
{
    
}

