@font-face {
    font-family: BebasNeue;
    src: url(/BebasNeue-Regular.ttf) format("truetype");
}  
@font-face {
    font-family: Barlow;
    src: url(/BarlowCondensed-Thin.ttf) format("truetype");
}



h1, h2, h3, h4, ul {
    font-family:BebasNeue;
}
p {
    font-family: Barlow;
    font-size: 24px;
    color: black;
    font-weight: bolder;
}
ul {
    font-size: 32px;
}

body {
    background-color: rgba(235, 235, 224, 1); 
    color:black;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
main{
    flex-grow: 1;
}

a {
    color: black;

}

.form__input {
    display: block;
}

.logo{
    position: fixed
   
}
a {
    text-decoration:none
    }
    nav{
        position: fixed;
        margin-top: 150px;
     }
   ul {
   
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        column-gap: 20px;

    }

    /*Home page*/
.index-img {
    display: flex;
    position:relative;
    padding: 100px 350px ;
}
.home-info {
    display: flex;
    position:relative;
        top: 90%;
        left: 25%;
    
}
.homeinfo {
    display: flex;
    position:relative;
        top: 94%;
        left: 25%;
    }
 

    /* --- HOME PAGE --- */

    .container {
        margin: auto;
        margin-left: 200px;
    
    
       /* width: 1000px; */
        /* height: 300px; */
        padding: 20px; 
       
    }

   
    .image {
    width: 300px;
       height: 500px;
        display: flex;
        position: relative;
        margin-top: 100px;
        /*
        text-align: justify; 
        display: block;
        */
    }
    

    @media all and (max-width: 800px)  {
       .image {
            width: 100px;
            height: 100px;
             display: flex;
             position: relative;
             margin-top: 100px;
        
        }
    }




    /*
    @media
    (min-width: 375px) and max-width: 400px),
*/

/* --- HOME PAGE END --- */



    .photos {
        /* text-align: center; */
       
       /*  max-width: 1080px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
        padding-right: 10px;
        */
        display: flex;
        width: 400px;
        height: 500px;
        

        /*
        flex-wrap: wrap;
        align-items: flex-end;
        */
        
      }
      
      .photo {
        display: flex;
        
        padding-right: 30px; 
        padding-top: 150px;
    

        width: 300px;
        height: 300px;
        margin: 10px;
    
      
        
      
        justify-content: center;
      }


     




/*footer*/
/*
footer {
    padding: 1px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .limited {
    display: flex;
    margin-right: 50px;
    
  }
.socials {
    display: flex;
    width: 200px;
    height: 25px;
    
}
*/

/* Our Selection*/

/*
.ourselection{
    display: flex;
    position:absolute;
        top: 32%;
        left: 21%;
    
}
.topselection{
    display: flex;
    padding: 300px 300px;
    
}
   */

   .topselection {
    padding-right: 30px; 
    padding-top: 100px;
    margin-left: 200px;
   }



/*about us*/
.container-1{
    display: flex;
    flex-direction: row;
    padding: 200px 200px;
    
}
.about-text{
    display: flex;
    position:relative;
    justify-content: center;
        bottom: 7%;
        right: 2%;
}
.about-image{
    display: flex;
   
}
.about-us{
    display: flex;
    position:absolute;
        top: 27%;
        left: 40%;
}


/*The Lobtser*/
.container-6{
    display: flex;
    flex-direction: column;
    padding: 200px 200px ;
    }
    .movielob{
        width: 920px;
    height: 470px;
    }
    .movie-container{
        position:relative;
    
        
    }
    .lobster-content1 {
        position: fixed;
        position: absolute;
        top: 1%;
        left: 2%;
    }
    
    .lobster-content3 {
        position: absolute;
       
        top: 6%;
        left: 2%;
    }
    .checkout-icon {
        position: flex;

    }
.container-info {
    
    line-height: 150%;
}
 


/*check out*/

.container-2{
    display: flex;
    padding: 200px 200px ;
   
}
.box-3{
    flex: 1;
}
.box-3{
    flex: 1;
}
/*contact*/

.container-3{
    display: flex;
    padding: 150px 250px;
}

.contact-text{
    display: flex;
    flex-direction: column;
    position:absolute;
    top: 18%;
        left: 20%;
        line-height: 125%;

}
.container-4{
    display: flex;
    position:relative;
    bottom: 1%;
        left: 30%;
}
  
/*
@media all and (max-width:500px)
{


}
*/




/* --- FOOTER --- */

.footer {
    
    background-image: url(/images/footer.png);
    
    background-size: 100% 100%;
    padding: 1px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
    
  }

  /* Social media icon styles */
  .social-icons {
    display: flex;
    gap: 10px;
  }

  .social-icons a {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    
  }


/* --- FOOTER END --- */
